.input-box {
    position: relative;
    margin-bottom: 15px;
  }
  .input-field {
    width: 100%;
    padding: 10px;
  }
  .submit {
    padding: 10px;
    background-color: #007bff;
    color: #fff;
    border: none;
    cursor: pointer;
  }
  .submit{
    background-color: bisque;
    color: black;
  }