
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}


.navbar {
    position: fixed;
    top: 0;
    width: 100%;
    background-color: #4b2e26;
    color: #f7e7d7;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    z-index: 1000;
}

.navbar h1 {
    font-size: 1.5em;
    animation: fadeIn 2s ease-in;
}

.navbar ul {
    list-style: none;
    display: flex;
}

.navbar ul li {
    margin: 0 15px;
}

.navbar ul li a {
    color: #f7e7d7;
    text-decoration: none;
    transition: color 0.3s;
}

.navbar ul li a:hover {
    color: #d9bfa9;
}


.cover {
    overflow: hidden;
    height: 400px; 
    background-color: #f7e7d7;
    position: relative;
    background-position: bottom; 
    background-size: cover;
}

.slider {
    display: flex;
    animation: slide 12s infinite;
}

.slide {
    position: relative;
    min-width: 100%;
    transition: 2s;
}

.slide img {
    width: 100%;
    height: 400px; 
    object-fit: cover;
}

.slide p {
    position: absolute;
    bottom: 20px;
    left: 20px;
    color: #4b2e26;
    font-size: 1.2em;
    background-color: rgba(255, 255, 255, 0.7);
    padding: 5px 10px;
    animation: fadeInUp 1s ease-in;
}


@keyframes slide {
    0% { transform: translateX(0); }
    25% { transform: translateX(-100%); }
    50% { transform: translateX(-200%); }
    75% { transform: translateX(-300%); }
    100% { transform: translateX(0); }
}

@keyframes fadeIn {
    from { opacity: 0; }
    to { opacity: 1; }
}

@keyframes fadeInUp {
    from { opacity: 0; transform: translateY(20px); }
    to { opacity: 1; transform: translateY(0); }
}


.container {
    padding: 40px 20px;
    text-align: center;
    background-color: #f7e7d7;
    margin-top: 50px;
   margin-bottom: 50px;
}

.container h2 {
    color: #4b2e26;
    margin-bottom: 20px;
    font-size: 2em;
    animation: fadeIn 1s ease-in;
   margin-right: 700px;
   margin-bottom: 50px;
}
.container h3{
    font-size: larger;
}
.restaurants-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
}
.restaurant-card-link {
    text-decoration: none; 
    color: inherit; 
}
.restaurant-card {
    width: 250px;
    height: 400px;
    position: relative;
    background-color: #d9bfa9;
    padding: 0px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s, box-shadow 0.3s;
    animation: fadeInUp 0.5s ease-in;
    margin-bottom: 50px;
    margin-left: 5px;
}

.restaurant-card:hover {
    transform: translateY(-5px);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3);
}

.restaurant-card img {
    width: 100%;
    height: 50%;
    border-radius: 8px 8px 0px 0px ;
    object-fit: cover;
}
.restaurant-card .location{
    font-size: medium;
    margin-left: 10px;
}

.restaurant-info {
    margin-top: 10px;
    text-align: left;
    display: flex;
    flex-direction: column;
}

.restaurant-info h3 {
    color: #4b2e26;
    margin-left: 10px;
}

.rating {
    color: #ffd700; /* لون النجوم */
    display: flex;
    align-items: center;
    margin-left: 10px;
}
.review-count {
    color: #6c757d; 
    font-size: 0.8em;
    margin-left: 10px;
}
.icon {
    position: absolute;
    top: 20px; 
    right: 20px;
    background-color: #4b2e26;
    color: #fff; 
    border-radius: 50%; 
    width: 40px; 
    height: 40px; 
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1em; 
}
.icon:hover{

    color: #d9bfa9;
  
}
.restaurant-card button {
    display: block;
    width: 200px;
    margin: 50px auto 0; 
    padding: 10px;
    background-color: #4b2e26;
    color: white;
    border: none;
    border-radius: 8px; 
    font-size: 16px;
    cursor: pointer;
    text-align: center;
    font-weight: bold;
    transition: background-color 0.3s ease;
}
.restaurant-card button:hover {
    background-color: #715249; 
}

footer {
    background-color: #4b2e26;  
    color: #f7e7d7;
    text-align: center;
    padding: 10px;
    position: relative;
    bottom: 0;
    width: 100%;
}

